<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>0</key>
        <string>未知错误</string>
        <key>1</key>
        <string>失败</string>
        <key>2</key>
        <string>用户名或密码错误！</string>
        <key>3</key>
        <string>用户名不存在！</string>
        <key>4</key>
        <string>用户名已存在！</string>
        <key>5</key>
        <string>设备不在线！</string>
        <key>6</key>
        <string>设备已存在！</string>
        <key>7</key>
        <string>不存在该设备！</string>
        <key>8</key>
        <string>用户没有该设备！</string>
        <key>9</key>
        <string>邮箱错误！</string>
        <key>10</key>
        <string>设备列表不存在！</string>
        <key>11</key>
        <string>该用户已被冻结！</string>
        <key>13</key>
        <string>控制指令出错！</string>
        <key>14</key>
        <string>设备的Mac或者密码出错!</string>
        <key>15</key>
        <string>设备已被绑定！</string>
        <key>16</key>
        <string>设备ID错误！</string>
        <key>17</key>
        <string>密码错误！</string>
        <key>18</key>
        <string>连接到主服务器失败！</string>
        <key>19</key>
        <string>主服务器参数错误！</string>
        <key>20</key>
        <string>指令未被执行！</string>
        <key>21</key>
        <string>设备类型不一致！</string>
        <key>22</key>
        <string>参数错误！</string>
        <key>23</key>
        <string>button not equals in ir study</string>
        <key>24</key>
        <string>验证码或者UUID错误！</string>
        <key>25</key>
        <string>发送邮件失败！</string>
        <key>26</key>
        <string>there is no forgot password log!</string>
        <key>27</key>
        <string>服务器异常！</string>
        <key>28</key>
        <string>该邮箱已被注册，请直接登录！</string>
        <key>29</key>
        <string>there is no register log!</string>
        <key>30</key>
        <string>验证码已过期！</string>
        <key>31</key>
        <string>验证码不一致！</string>
        <key>32</key>
        <string>插座设备不存在！</string>
        <key>33</key>
        <string>插座设备被绑定！</string>
        <key>34</key>
        <string>插座设备密码错误！</string>
        <key>35</key>
        <string>服务器连接设备失败！</string>
        <key>36</key>
        <string>插座设备已存在！</string>
        <key>37</key>
        <string>设备ID为空！</string>
        <key>38</key>
        <string>状态为空！</string>
        <key>39</key>
        <string>组名已存在！</string>
        <key>40</key>
        <string>服务器正忙,请稍后再试！</string>
        <key>41</key>
        <string>UUID错误！</string>
        <key>42</key>
        <string>Mac没有绑定SN设备</string>
        <key>43</key>
        <string>用户已经绑定一个主要控制单元</string>
        <key>44</key>
        <string>用户名格式错误!</string>
        <key>45</key>
        <string>用户没有登录!</string>
        <key>46</key>
        <string>这个设备没有图像！</string>
        <key>47</key>
        <string>日期格式是错误的!</string>
        <key>48</key>
        <string>日期是错误的!</string>
        <key>49</key>
        <string>密码是错误的!</string>
        <key>50</key>
        <string>电子邮件没有注册！</string>
        <key>51</key>
        <string>手机号已经注册!</string>
        <key>52</key>
        <string>城市错误！</string>
        <key>53</key>
        <string>未知城市！</string>
        <key>54</key>
        <string>邮箱已被绑定！</string>
        <key>55</key>
        <string>电话已被绑定！</string>
        <key>56</key>
        <string>设备不在线！</string>
        <key>57</key>
        <string>组不存在</string>
        <key>58</key>
        <string>sns已经被绑定</string>
        <key>59</key>
        <string>公司不存在</string>
        <key>60</key>
        <string>数据错误</string>
        <key>61</key>
        <string>设备不能被绑定</string>
        <key>62</key>
        <string>未发现该药品</string>
        <key>63</key>
        <string>该手机号已被绑定</string>
        <key>64</key>
        <string>药品提醒设置失败</string>
        <key>65</key>
        <string>用户未绑定该手机号</string>
    </dict>
</plist>
